
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800;900&display=swap');


/* ----------------------------------------------------------------------------------------------
                        Variables
---------------------------------------------------------------------------------------------- */


:root {

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);


--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: #c5c6ce;
--Dark-grayish-blue: #5d5f79;
--Very-dark-blue: hsl(240, 100%, 5%);
--gunmetal: #5e607a;

}

html {
    font-family: 'Inter', sans-serif;
}


/* ----------------------------------------------------------------------------------------------
                        Mobile First
---------------------------------------------------------------------------------------------- */

body {
    min-height: 100vh;
    font-size: 1.5rem;
    color: var(--Very-dark-blue);
    background-color: var(--Off-white);
}



header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.8rem 1.6rem 3.9rem;
}

.logo__img {
    width: 4rem;
    height: 2.8rem;
}

.menu {
    display: none;
}

.menu__item:hover, .section2__title:hover {
    color: var(--Soft-orange);
    transition: color 250ms;
}

main {
    padding: 0 1.6rem;
    
}

.section1__container {
    display: flex;
    flex-direction: column;
}

.feature__img {
    width: 100%;
}

.feature__title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    margin-top: 2.4rem;
}

.feature__text {
    line-height: 2.6rem;
    font-weight: 400;
    margin-top: 1.6rem;
    color: var(--gunmetal);
    margin-bottom: 2.4rem;
}

.feature__btn {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: .44rem;
    width: 18.5rem;
    height: 4.8rem;
    transition: all 250ms;
}

.feature__btn:hover {
    background-color: var(--Very-dark-blue);
}

.section2__container {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 2.4rem 2rem;
    margin-top: 7.7rem;
}

.section2__header {
    color: var(--Soft-orange);
    font-size: 3.2rem ;
    font-weight: 700;
}

.section2__list {
    margin-top: 3.5rem ;
}

.section2__title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: .8rem;
    margin-top: 3.1rem;
    
}

.section2__text {
    line-height: 2.8rem;
    font-weight: 400;
    color:  #C5C6CE;
    border-bottom: 1px solid  #C5C6CE;
    padding-bottom: 2.9rem;

}

#vc_funding {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.section3__container {
    margin-top: 6.4rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 8rem;
}

.section3__list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.section3__list_item {
    display: flex;
    gap: 2.4rem;
}

.section3__img {
    width: 10rem;
}

.section3__list--number {
    font-size: 3.2rem;
    color: #C5C6CE;
    margin-bottom: 1.2rem;
}

.section3__list--title {
    font-size: 1.8rem;
}

.section3__list--title:hover {
    color: var(--Soft-red);
    transition: color 250ms;
}

.section3__list--text {
    color: var(--gunmetal);
    font-weight: 400;
    line-height: 2.6rem ;
    margin-top: .9rem;
}


/* ----------------------------------------------------------------------------------------------
                        Desktop
---------------------------------------------------------------------------------------------- */

@media screen and (min-width: 960px  ) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo__img {
        width: 6.4rem;
        height: 4rem;
    }

    .menu {
        display: flex;
        gap: 4rem;
    }

    .opened, .closed {
        display: none
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        /* grid-template-rows: 51.1rem 12.9rem; */
        padding: 5.5rem 16.5rem;
        gap: 3rem;
    }

    .section1__container {
        grid-column: 1 /3;
    }


    .feature__img {
        grid-column: 1 / 3;
    }

    .feature__container {
        display: grid;
        grid-template-columns: 35rem 35rem;
        gap: 3rem;
    }

    .feature__title {
        font-size: 5.6rem;
        line-height: 5.6rem;
        margin-top: 2.8rem;
    
    }

    .feature__text--container {
        display: flex;
        flex-direction: column;
        margin-top: 2.8rem;

    }

    .feature__text {
        margin-top: 0;
    }


    .section2__container {
        margin-top: 0;
        padding: 3.2rem 2.4rem  ;
    }

    header {
        padding: 0 16.5rem;
        margin-top: 9rem;
    }

    .section2__header {
        font-size: 4rem ;
    }

    .section3__container {
        grid-column: 1 / 4;
        margin-top: 4.3rem;
    }

    .section3__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 3rem; */
      
    }
    
}
